{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

  {% block script %}
  <script src="{% static 'js/tts.js' %}"></script>
  {% endblock %}

  {% block style %}
  {% endblock %}
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">시각장애인 쇼핑몰</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a>
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">로그인</a>
          {% endif %}
        </li>
        <li class="nav-item ">
          <a class="nav-link btn btn-outline-success" href="{% url 'cart:detail' %}">
            {% if cart|length > 0 %}
            총 {{cart|length}} 개의 물품
            {% else %}
            카트가 비었음
            {% endif %}
          </a>
        </li>

      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  </div>


  <!-- TTS -->
  <script type="text/javascript">
    var voices = [];

    function setVoiceList() {
      voices = window.speechSynthesis.getVoices();
    }
    setVoiceList();
    if (window.speechSynthesis.onvoiceschanged !== undefined) {
      window.speechSynthesis.onvoiceschanged = setVoiceList;
    }

    function speech(txt) {
      if (!window.speechSynthesis) {
        alert("지원불가");
        return;
      }

      var lang = 'ko-KR';
      var utterThis = new SpeechSynthesisUtterance(txt);

      utterThis.onend = function (event) {
        console.log('end');
      };
      utterThis.onerror = function (event) {
        console.log('error', event);
      };

      var voiceFound = false;
      for (var i = 0; i < voices.length; i++) {
        if (voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) {
          utterThis.voice = voices[i];
          voiceFound = true;
        }
      }

      if (!voiceFound) {
        alert('voice not found');
        return;
      }
      utterThis.lang = lang;
      utterThis.pitch = 1;
      utterThis.rate = 1;
      window.speechSynthesis.speak(utterThis);
    }

    document.addEventListener("keydown", function (e) {
      if (e.keyCode == 17) {
        var tts = e.target.innerText;
        //alert(tts);
        speech(tts);
      }

    });
  </script>

  <!-- Zoom -->
  <script type="text/javascript">
    var Browser = {
      a: navigator.userAgent.toLowerCase()
    }
    Browser = {
      ie: /*@cc_on true || @*/ false,
      ie6: Browser.a.indexOf('msie 6') != -1,
      ie7: Browser.a.indexOf('msie 7') != -1,
      ie8: Browser.a.indexOf('msie 8') != -1,
      opera: !!window.opera,
      safari: Browser.a.indexOf('safari') != -1,
      safari3: Browser.a.indexOf('applewebkit/5') != -1,
      mac: Browser.a.indexOf('mac') != -1,
      chrome: Browser.a.indexOf('chrome') != -1,
      firefox: Browser.a.indexOf('firefox') != -1
    }

    // 확대/축소 기능 -------------------------------------
    var nowZoom = 100;
    var maxZoom = 500;
    var minZoom = 80;
    var step = 50;

    var jsBrowseSizeUp = function () {
      if (Browser.chrome) {
        if (nowZoom < maxZoom) {
          nowZoom += step;
          document.body.style.zoom = nowZoom + "%";
        } else {
          alert('최대 확대입니다.');
        }
      }
      // else if( Browser.opera ) { 
      // alert('오페라는 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      // else if( Browser.safari || Browser.safari3 || Browser.mac  ) { 
      // alert('사파리, 맥은 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      // else if( Browser.firefox ) { 
      // alert('파이어폭스는 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      else {
        if (nowZoom < maxZoom) {
          nowZoom += step;
          document.body.style.position = "relative";
          document.body.style.zoom = nowZoom + "%";
        } else {
          alert('최대 확대입니다.');
        }
      }
    };

    var jsBrowseSizeDown = function () {

      if (Browser.chrome) {
        if (nowZoom > minZoom) {
          nowZoom -= step;
          document.body.style.zoom = nowZoom + "%";
        } else {
          alert('최대 축소입니다.');
        }
      }
      // else if( Browser.opera ) { 
      // alert('오페라는 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      // else if( Browser.safari || Browser.safari3 || Browser.mac  ) { 
      // alert('사파리, 맥은 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      // else if( Browser.firefox ) { 
      // alert('파이어폭스는 화면크기 기능을 지원하지 않습니다.\n브라우저 내의 확대/축소 기능을 이용하시기 바랍니다.'); 
      // } 
      else {
        if (nowZoom < maxZoom) {
          nowZoom -= step;
          document.body.style.position = "relative";
          document.body.style.zoom = nowZoom + "%";
        } else {
          alert('최대 확대입니다.');
        }
      }
    };

    // 단축키 이벤트 생성 --------------------------
    var ctrl_cnt = 0; // 확대
    var shift_cnt = 0; // 축소

    document.onkeydown = function (e) {
      if (e.which == 18) {
        ctrl_cnt += 1;
      }
      if (ctrl_cnt == 2) {
        jsBrowseSizeUp();
        ctrl_cnt = 0;
      }

      if (e.which == 16) {
        shift_cnt += 1;
      }
      if (shift_cnt == 2) {
        jsBrowseSizeDown();
        shift_cnt = 0;
      }
    };
  </script>

</body>

</html>