{% extends 'base.html' %}
{% block title %}상세페이지{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{product.image.url}}" width="100%" tabindex="0"> <br>
            <div class="result">
                <form>
                    <input onclick="analyze('http://59.26.44.137:8001{{product.image.url}}')" value="이미지분석하기"
                        type="button" class="floating_element">
                </form>
                <br>
                <textarea id="messageTextArea" rows="3" class="floating_element" cols="20" readonly>...</textarea>
            </div>
        </div>
        <div class="col">
            <h1 class="display-6" tabindex="0">{{product.name}}</h1>

            <p tabindex="0"><span class="badge badge-secondary">가격</span> {{product.price}}</p>
            <form action="{% url 'cart:product_add' product.id %}" method="post">
                {{add_to_cart}}
                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-sm" value="카트에 넣기">
            </form>
            <br>
            <h5 tabindex="0"><span class="badge badge-secondary">상세설명</span>{{product.description|linebreaks}}</h5>
        </div>
    </div>

</div>

{% endblock %}