{% extends 'base.html' %}
{% block title %}상세페이지{% endblock %}

{% block detail_style %}
<style>
    #jb-container {
        width: auto;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #bcbcbc;
    }

    #jb-header {
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #bcbcbc;
    }

    #jb-content {
        width: 45%;
        padding: 20px;
        margin-bottom: 20px;
        float: left;
        border: 1px solid #bcbcbc;
    }

    #jb-sidebar {
        width: 45%;
        height: auto;
        padding: 20px;
        margin-bottom: 20px;
        float: right;
        border: 1px solid #bcbcbc;
    }

    #jb-footer {
        clear: both;
        padding: 0px;
        border: 0px solid #bcbcbc;
    }

    #select-bar {
        font-size: 30px;
        width: 300px;
        padding: 20px;
    }

    #bag-button {
        font-size: 30px;
        width: 300px;
        padding: 20px;
    }
    .thumb {
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

    .thumb_img {
        width: 80%;
        height: 80%;
    }

</style>
{% endblock %}

{% block content %}

<div id="jb-container">
    <div id="jb-header">
        <h1 class="display-6" tabindex="0">{{product.name}}</h1>
    </div>
    <div id="jb-content">
        <h4 tabindex="0">{{product.category}} </h4>

        <div class="thumb" align="center">
            <img class="thumb_img" src="{{product.image.url}}" tabindex="0"> <br>
        </div>
        <div class="result" align="center">
            <br>
            <form>
                <input class="thumb_img" onclick="analyze('http://59.26.44.137:8001{{product.image.url}}')" value="이미지분석하기" type="button"
                    class="floating_element">
            </form>
            <br>
            <textarea class="thumb_img" id="messageTextArea" rows="3" class="floating_element" cols="20" readonly>...</textarea>
        </div>
    </div>

    <div id="jb-sidebar">
        <h5 tabindex="0"><span class="badge badge-secondary">상세설명</span>{{product.description|linebreaks}}</h5>
        <p tabindex="0"><span class="badge badge-secondary">가격</span> {{product.price}}</p>
    </div>

    <div id="jb-sidebar">
        <form action="{% url 'cart:product_add' product.id %}" method="post" tabindex="0" class="thumb_img">
            <!-- {{add_to_cart}} -->
            {% csrf_token %}
            <label for="id_제품수량">제품수량</label>
            <input type="number" name="제품수량" value="1" required id="id_제품수량" class="thumb_img">
            <br>
            <input type="submit" class="btn btn-primary btn-sm" value="카트에 넣기">
        </form>
        <br>
    </div>

    <div id="jb-footer">
        <!-- <p>Copyright</p> -->
    </div>
</div>

{% endblock %}